.code-block-pro-editor {
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: transparent;
    --tw-ring-color: var(--wp-admin-theme-color);
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
}
.code-block-pro-editor *,
.code-block-pro-editor *:after,
.code-block-pro-editor *:before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add more styles here specific to the editor only */
.code-block-pro-editor .npm__react-simple-code-editor__textarea {
    @apply shadow-none;
}
.code-block-pro-editor textarea,
.code-block-pro-editor pre {
    @apply m-0 text-left;
    direction: ltr !important;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    monospace !important;
}
.code-block-pro-editor code {
    @apply m-0 p-0 text-inherit bg-transparent;
}
