.code-block-pro-editor {
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: transparent;
    --tw-ring-color: var(--wp-admin-theme-color);
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
}
.code-block-pro-editor *,
.code-block-pro-editor *:after,
.code-block-pro-editor *:before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add more styles here specific to the editor only */
.code-block-pro-editor .npm__react-simple-code-editor__textarea {
    @apply shadow-none;
}
.code-block-pro-editor pre,
.code-block-pro-editor pre * {
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
}
.code-block-pro-editor textarea,
.code-block-pro-editor pre {
    @apply m-0 text-left;
    direction: ltr !important;
}
.code-block-pro-editor.cbp-has-line-numbers pre {
    counter-reset: step;
    counter-increment: step calc(var(--cbp-line-number-start, 1) - 1);
}
.code-block-pro-editor.cbp-has-line-numbers pre .line:not(.cbp-line-number-disabled)::before {
    @apply inline-block text-right opacity-50;
    margin-right: 12px;
    content: counter(step);
    color: var(--cbp-line-number-color, #999);
    width: var(--cbp-line-number-width, auto);
    user-select: none;
    counter-increment: step;
    position: absolute;
    left: 18px;
}
/* Will make sure the line numbers are full width before calculating */
.code-block-pro-editor.cbp-has-line-numbers pre .line.cbp-line-number-width-forced::before {
    width: auto !important;
    position: initial;
}
.code-block-pro-editor .cbp-footer-link {
    @apply pointer-events-none no-underline;
}

.code-block-pro-editor code {
    font-family: inherit !important;
    @apply m-0 p-0 text-inherit bg-transparent;
}
@font-face {
    font-family: 'Code-Pro-Fira-Code';
    src: url('../fonts/Code-Pro-Fira-Code.woff2') format('woff2');
}
@font-face {
    font-family: 'Code-Pro-JetBrains-Mono';
    src: url('../fonts/Code-Pro-JetBrains-Mono.woff2') format('woff2');
}
