/*! purgecss start ignore */
.wp-block-kevinbatdorf-code-block-pro {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        monospace; /* no !important */
    direction: ltr;
    -webkit-text-size-adjust: 100%;
    @apply relative box-border;
    * {
        @apply box-border;
    }
}
.wp-block-kevinbatdorf-code-block-pro {
    pre,
    pre * {
        font-size: inherit;
        line-height: inherit;
    }
}
.wp-block-kevinbatdorf-code-block-pro:not(.code-block-pro-editor) pre {
    border: 0;
    overflow-wrap: normal;
    padding: 16px;
    padding-right: 0;
    font-family: inherit;
    @apply overflow-auto text-inherit text-left m-0 whitespace-pre bg-none border-none border-0 rounded-none shadow-none;
}
.wp-block-kevinbatdorf-code-block-pro.padding-disabled:not(
        .code-block-pro-editor
    )
    pre {
    @apply p-0;
}
.wp-block-kevinbatdorf-code-block-pro.padding-bottom-disabled pre {
    @apply pb-0;
}
.wp-block-kevinbatdorf-code-block-pro:not(.code-block-pro-editor) pre code {
    border: 0;
    background: none;
    overflow-wrap: normal;
    font-family: inherit;
    @apply block w-full m-0 p-0 bg-transparent text-inherit text-left whitespace-pre border-none border-0 rounded-none shadow-none;
}
.wp-block-kevinbatdorf-code-block-pro:not(.code-block-pro-editor)
    pre
    code
    .line {
    @apply inline-block align-top;
    min-width: var(--cbp-block-width, 100%);
}
.wp-block-kevinbatdorf-code-block-pro.cbp-has-line-numbers:not(
        .code-block-pro-editor
    )
    pre
    code
    .line {
    padding-left: calc(12px + var(--cbp-line-number-width, auto));
}
.wp-block-kevinbatdorf-code-block-pro.cbp-has-line-numbers:not(
        .code-block-pro-editor
    )
    pre
    code {
    counter-reset: step;
    counter-increment: step calc(var(--cbp-line-number-start, 1) - 1);
}

.wp-block-kevinbatdorf-code-block-pro pre code .line {
    @apply relative;
}
.wp-block-kevinbatdorf-code-block-pro:not(.code-block-pro-editor)
    pre
    code
    .line::before {
    content: '';
    @apply inline-block;
}
.wp-block-kevinbatdorf-code-block-pro.cbp-has-line-numbers:not(
        .code-block-pro-editor
    )
    pre
    code
    .line:not(.cbp-line-number-disabled)::before {
    @apply absolute left-0 text-right opacity-50 transition-opacity duration-500;
    content: counter(step);
    color: var(--cbp-line-number-color, #999);
    width: var(--cbp-line-number-width, auto);
    user-select: none;
    counter-increment: step;
}
.wp-block-kevinbatdorf-code-block-pro.cbp-highlight-hover .line {
    min-height: var(--cbp-block-height, 100%);
}
.wp-block-kevinbatdorf-code-block-pro {
    &.cbp-highlight-hover:not(.cbp-blur-enabled:not(.cbp-unblur-on-hover))
        .line:hover,
    .line.cbp-no-blur:hover,
    .line.cbp-line-highlight {
        .cbp-line-highlighter {
            @apply w-full pointer-events-none absolute top-0;
            background: var(--cbp-line-highlight-color, rgb(14 165 233/0.2));
            min-height: var(--cbp-block-height, 100%);
            min-width: calc(var(--cbp-block-width, 100%) + 16px);
            left: -16px;
            [data-code-block-pro-font-family='Code-Pro-Comic-Mono.ttf']& {
                @apply -top-0.5;
            }
            [data-code-block-pro-font-family='Code-Pro-Fira-Code']& {
                top: -1.5px !important;
            }
            [data-code-block-pro-font-family='Code-Pro-Cozette']&,
            [data-code-block-pro-font-family='Code-Pro-Deja-Vu-Mono.ttf']& {
                top: -1px !important;
            }
        }
    }
}
/* [data-code-block-pro-font-family='Code-Pro-Comic-Mono.ttf'].cbp-highlight-hover {
    .line,
    .line:hover,
    .line.cbp-no-blur:hover,
    .line.cbp-line-highlight {
        .cbp-line-highlighter {
            @apply -top-0.5;
        }
    }
} */
/* [data-code-block-pro-font-family='Code-Pro-Fira-Code'].cbp-highlight-hover {
    .line,
    .line:hover,
    .line.cbp-no-blur:hover,
    .line.cbp-line-highlight {
        .cbp-line-highlighter {
            top: -1.5px !important;
        }
    }
} */
.wp-block-kevinbatdorf-code-block-pro:not(
        .code-block-pro-editor
    ).padding-disabled
    pre
    .line.cbp-line-highlight::after {
    @apply left-0 w-full;
}
.wp-block-kevinbatdorf-code-block-pro.cbp-blur-enabled
    pre
    .line:not(.cbp-no-blur) {
    filter: blur(1px);
    @apply opacity-40 transition-all duration-200 pointer-events-none;
}
.wp-block-kevinbatdorf-code-block-pro.cbp-blur-enabled.cbp-unblur-on-hover:hover
    pre
    .line:not(.cbp-no-blur) {
    @apply blur-none opacity-100 pointer-events-auto;
}
.wp-block-kevinbatdorf-code-block-pro:not(.code-block-pro-editor) pre * {
    font-family: inherit;
}
.cbp-see-more-simple-btn-hover {
    @apply transition-none;
}
.cbp-see-more-simple-btn-hover:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
.code-block-pro-copy-button {
    border: 0;
    padding: 6px;
    @apply absolute top-0 right-0 left-auto border-none border-0 cursor-pointer opacity-10 focus:opacity-40 transition-opacity duration-200 ease-in-out leading-none z-10;
}
.code-block-pro-copy-button:not([data-has-text-button]) {
    background: none;
    @apply bg-transparent;
}
.wp-block-kevinbatdorf-code-block-pro.padding-disabled
    .code-block-pro-copy-button {
    padding: 0;
}
.wp-block-kevinbatdorf-code-block-pro:hover .code-block-pro-copy-button {
    @apply opacity-50;
}
/* .wp-block-kevinbatdorf-code-block-pro .code-block-pro-copy-button:active, */
.wp-block-kevinbatdorf-code-block-pro .code-block-pro-copy-button:hover {
    @apply opacity-90;
}
.wp-block-kevinbatdorf-code-block-pro:hover .code-block-pro-copy-button[data-has-text-button],
.code-block-pro-copy-button[data-has-text-button] {
    @apply opacity-100;
}
.wp-block-kevinbatdorf-code-block-pro .code-block-pro-copy-button[data-has-text-button]:hover {
    @apply opacity-80;
}
.code-block-pro-copy-button[data-has-text-button] {
    margin-top: 0.7rem;
    @apply block rounded-xl mr-3 py-0.5 px-1.5;
}
.code-block-pro-copy-button[data-inside-header-type^="headlights"],
.code-block-pro-copy-button[data-inside-header-type="headlightsMuted"] {
    margin-top: 0.85rem;
}
.code-block-pro-copy-button[data-inside-header-type="headlightsMutedAlt"] {
    margin-top: 0.65rem;
}
.code-block-pro-copy-button[data-inside-header-type="simpleString"] {
    margin-top: 0.645rem;
}
.code-block-pro-copy-button[data-inside-header-type="pillString"] {
    @apply mt-4;
}
.code-block-pro-copy-button[data-inside-header-type="pillString"] .cbp-btn-text {
    @apply relative top-px;
}
.cbp-btn-text {
    @apply text-xs;
}

.code-block-pro-copy-button {
    .without-check {
        @apply block;
    }
    .with-check {
        @apply hidden;
    }
}
.code-block-pro-copy-button.cbp-copying {
    @apply opacity-100;
    .without-check {
        @apply hidden;
    }
    .with-check {
        @apply block;
    }
}
.cbp-footer-link {
    @apply hover:underline;
}
